@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

$bg-light: #fff;
$bg-dark: #181a1b;

$fg-light: #2d2d2d;
$fg-dark: #ebf3fe;

$title-heading-font: normal 400 80px 'Comfortaa', sans-serif;
$title-subheading-font: normal 300 42px 'Comfortaa', sans-serif;
