#main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-container.dark {
  background-color: #181a1b;
}

#toggle-theme-btn {
  position: fixed;
  top: 0;
  left: 0;
}
