@import 'variables';

#title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#title-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform-origin: left;
  padding-left: 3vw;
}

#separator {
  height: 25vh;
  width: 5px;
  background-color: $fg-light;
  margin-left: 3vw;
  border-radius: 5px;
}

#separator.dark {
  background-color: $fg-dark;
}

#title-text-container h1 {
  font: $title-heading-font;
  margin-bottom: 10px;
}

#title-text-container h2 {
  font: $title-subheading-font;
  margin-top: 10px;
}
